@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ffffff;
  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --primary-1: #76b900;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
   --font-head: var(--font-display);
  --font-body: var(--font-body);
  --color-primary-1: var(--primary-1);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-size: 1.17vw;
  letter-spacing: 0.5px;
  line-height: 1.4;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}
.container {
  max-width: 100%;
  padding: 7% 5vw;
  margin-left: auto;
  margin-right: auto;
}
