@import "tailwindcss";


:root {
  --background: #111111;
  --foreground: #ffffff;
  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --primary-1: #5cffa3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
   --font-head: var(--font-display);
  --font-body: var(--font-body);
  --color-primary-1: var(--primary-1);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-size: 1.17vw;
  letter-spacing: 0.5px;
  line-height: 1.4;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
body::-webkit-scrollbar {
  display: none;
}
body::selection {
  background-color: var(--primary-1);
  color: var(--background);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}
.container {
  max-width: 100%;
  padding: 7% 5vw;
  margin-left: auto;
  margin-right: auto;
}
.btn-clipPath {
  clip-path: polygon(
    100% 0%,
    100% 2.9vw,
    11.25vw 100%,
    0% 100%,
    0% 1.4vw,
    1.3vw 0%
  );
}
